<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <title>Game Over</title>
</head>
<body>
    <div class="container">
    <h1>Game Over</h1>
    <p class="card_p">Username: <a>{{ username }}</a></p>
        <p class="card_p">Your final score: <a>{{ score }}</a></p>
    <form method="post">
    <button type="submit" class="btn">Play Again</button>
  </form>
    <a class="card_a" href="/leaderboard">View Leaderboard</a>
    </div>
</body>
</html>
