<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <title>Higher or Lower</title>
</head>
<body>
    <div class="main">
    <h1 class="title">Higher or Lower - Movie edyszion</h1>
    <a class="main_a">Username: <strong>{{ username }}</strong></a>
    <a class="main_a">Current Score: <strong>{{ score }}</strong></a>
    <p class="main_p_movie">Is <strong>{{ movie1['title'] }}</strong> more or less popular than <strong>{{ movie2['title'] }}</strong> right now?</p>
    <img id='movie1_image' src="{{ movie1['poster_url'] }}" alt="{{ movie1['title'] }}">
    <img id='movie2_image' src="{{ movie2['poster_url'] }}" alt="{{ movie2['title'] }}">

    <form method="post">
        <button type="submit" name="guess" value="higher">More</button>
        <button type="submit" name="guess" value="lower">Less</button>
    </form>
    </div>
</body>
</html>
