<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <title>Higher or Lower</title>
</head>
<body>
    <h1>Higher or Lower game:</h1>
    <h2>{{ error }}</h2>
    <form method="post" action="/">
        <label for="username">Enter your username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your name" required>
        <input type="submit" value="Start Game" name="start_game">
    </form>
    <a href="/leaderboard">View Leaderboard</a>
</body>
</html>
